<%= form_with(model: element, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Nombre del Elemento" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <h4>Rangos de Precio</h4>
<%= f.fields_for :price_ranges do |pr| %>
  <div class="border p-3 mb-3 rounded bg-light">
    <div class="row">
      <div class="col-md-3">
        <%= pr.label :min_quantity, "Desde" %>
        <%= pr.number_field :min_quantity, step: 0.01, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= pr.label :max_quantity, "Hasta" %>
        <%= pr.number_field :max_quantity, step: 0.01, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= pr.label :price, "Precio (€)" %>
        <%= pr.number_field :price, step: 0.01, class: "form-control" %>
      </div>
      <div class="col-md-3 d-flex align-items-end">
        <% if pr.object.persisted? %>
          <div class="form-check mt-4">
            <%= pr.check_box :_destroy, class: "form-check-input" %>
            <%= pr.label :_destroy, "Eliminar", class: "form-check-label" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


  <div class="mt-4">
    <%= f.submit class: "btn btn-success" %>
    <%= link_to 'Cancelar', elements_path, class: "btn btn-secondary" %>
  </div>
<% end %>
